h1 {7
    color: #fc0707;
    font-size: 60px;
    background-color: aquamarine;
}

button {
    background-color: green;
    color: white;
    border-radius: 40%;
    padding: 20px;
    margin: 30px;
}

/*   ctrl + alt + 7 { */

/*   altGr + 7 { */